@model IEnumerable<IRT.Models.Document>

@{
    ViewData["Title"] = "getDocuments";
}

<h1 class="text-center"> R E S U L T : get Documents </h1>

<div class="row">

    @if (Model != null)
    {

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"> Document Name </th>
                    <th scope="col"> Document Terms </th>
                    <th scope="col"> #Terms </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doc in Model)
                {
                    var terms = "";
                    <tr>
                        <th scope="row"> @doc.id </th>
                        @if (doc.documentTerms != null)
                        {
                            @foreach (var term in doc.documentTerms)
                            {
                                terms = terms+"\""+term.id + "\" , ";
                            }
                            <td>@terms</td>
                            <td>@doc.documentTerms.Count()</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {

        <div class="row">
            <div class="col-md-12">
                <h1> M O D E L → N U L L </h1>
            </div>
        </div>
    }

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
